# Django
SECRET_KEY=201205081601
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=

# Banco
# Exemplo Neon: postgresql://USER:PASS@HOST/DB?sslmode=require
DATABASE_URL=

# Segurança (apenas produção)
SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
