# Django
SECRET_KEY=7fA9kL2qX8vM1ZpR4dTnW6yB3sHcJ0Qe5UuGx9mFKa2P8rLwVzYtC1N4hS7bDqE6jR3YpT0XkM9aV5ZcW8uL2nF4GdH1sQe7rB6JtP3KxA0mYvC9wU
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=

# Banco
# Exemplo Neon: postgresql://USER:PASS@HOST/DB?sslmode=require
DATABASE_URL=

# Segurança (apenas produção)
SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
